@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

html{
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  }

body{
  background-color: #1B1A1A;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

body.b {
  background-image: image-url("4non-back-blur.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #171616;
}

.container {
  margin: 0 auto;
  max-width: 1408px;
  padding: 0 4% 0 4%;
  max-height: 100%;
}

.art-hero {
  // height: 600px;
  width: 100%;
  // margin: 0 0 8.3% 0;
  padding: 10% 0 5% 0;
  // height: 40em;
}

.art-logo{
  margin: 0 auto;
  display: block;
}

h1{
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0 0 5% 0;
}

.login-logo{
  margin: 0 auto;
  display: block;
  padding: 25% 0 0 0;
}

.grid {
  margin: 0 auto;
  padding: 5% 0 5% 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  // padding-right: 20px;
  .grid &:last-of-type {
    // padding-right: 0;
  }
}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-7-12 {
  width: 58.3%;
}

.col-8-12 {
  width: 66.6%;
}

.clear {
  float:none;
}

.f-right {
  float:right;
}

.center {
  margin: 0 auto;
  position: absolute;
  padding: 38% 0 25% 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.big-box {
  // padding: 20px;
  position: relative;
  background: #000000;
  margin: 2.3%;
  height: 40em;
  z-index: 1;
  bottom: 0;
  -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  box-shadow:0px 0px 10px rgba(0,0,0,0.5);

}

.img-box {
  background: #000000;
  overflow: hidden;
  opacity: .4;
  // margin: 3px;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.img-adj{
  height: 40em;
  width: auto;

  filter: blur(10px);
  // Browser Specific
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.img-sm-adj{
  height: 100%;
  width: auto;

}

.small-box {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 7%;
  background: #355980;
  opacity: .6;
  // margin: 3px;
  height: 35%;
  width: 100%;
  z-index: 3;
}

.small-box-txt {
  position: absolute;
  bottom: 0;
  padding: 5% 7% 7% 7%;
  // margin: 3px;
  height: 35%;
  width: 100%;
  z-index: 4;
}

.more-articles {
  position: absolute;
  bottom: 0;
  padding: 7% 7% 2% 0;
  // margin: 3px;
  // height: 5%;
  // width: 100%;
  z-index: 4;
}

.small-img-box {
  position: absolute;
  margin: 43% 26% 0 26%;
  height: 28%;
  width: 48%;
  overflow: hidden;
  z-index: 3;
  -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

.hashtag {
  font-weight: 300;
  font-size: 1.2em;
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  padding: 12% 0 0 0;
  // margin: 10% 25% 0 25%;
}

.tbox{
  height: 25%;
  width: 90%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.more {
  margin: 10% 10% 20% 0;
  color: #00bd8b;
  position: absolute;
  bottom: 0;
}

.title{
  color: #ffffff;
}

.button {
  align: center;
}

.btn-success {
  position:absolute;
  top: 50%;
  border-radius: 0px;
}

.hlogo{
  margin: 0 auto;
  display: block;
}

// .ellipsis {
//   position: absolute;
//
// }
//
// .end {
//   position: relative;
//   float: right;
// }

//////////show page////////

.big-box-show {
  // padding: 20px;
  position: relative;
  background: #000000;
  margin: 2.3%;
  height: 15em;
  z-index: 1;
  bottom: 0;
  -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
  box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

.img-adj-show{
  height: 15em;
  width: auto;

  filter: blur(10px);
  // Browser Specific
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.small-box-txt-show {
  position: absolute;
  padding: 5% 7% 7% 7%;
  // margin: 3px;
  z-index: 4;
  height: 10px !important
}
